{% load staticfiles %}

<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block title %}The Amateur Avant-Garde - Coming Soon{% endblock %}</title>
        <meta name="description" content="">

		<!-- responsive viewport -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Place favicon.ico in the root directory -->
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <!-- bootstrap css -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

		<!-- FontAwesome css -->
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">

        <!--  CSS3 Animition css -->
        <link rel="stylesheet" href="{% static 'css/ain-css.css' %}">

		<!-- style css -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

		<!-- responsive css -->
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

         <!-- Start Coming Soon Page One -->
        <div class="comming-soon-area text-center">
            <div class="display-table">
                <div class="display-table-cell">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="coming-text text-center">
                                        <h1>
                                        <em>C</em>
                                        <em class="planet left">O</em>
                                        <em>m</em>
                                        <em>i</em>
                                        <em>n</em>
                                        <em>g</em>
                                        <span class="space"></span>
                                        <em>S</em>
                                        <em class="planet right">O</em>
                                        <em>o</em>
                                        <em>n...</em>
                                        </h1>
                                        <p>our website is under construction</p>
                                </div>
                                <div class="countdown">
                                    <div class="simply-countdown-losange" id="simply-countdown-losange"></div>
                                </div>

                              <div class="social-icon text-center">
                                  <a href="https://www.facebook.com/profile.php?id=100012050839136" target="_blank"><i class="fa fa-facebook"></i></a>
                                  <a href="https://www.instagram.com/theamateuravantgarde/" class="one" target="_blank"><i class="fa fa-instagram"></i></a>
                                  <a href="https://twitter.com/Eleni_Zouliami" class="two" target="_blank"><i class="fa fa-twitter"></i></a>
                              </div>
                            </div>
                        </div>
            </div>
                </div>
            </div>
        </div>
        <!-- End Coming Soon Page One -->

       <!-- Latest jQuery -->
        <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
        <script src="{% static 'js/modernizr-2.8.3.min.js' %}"></script>

        <!-- Simple Counter jQuery -->
		<script src="{% static 'js/simplyCountdown.min.js' %}"></script>

      <!-- Counter Active jQuery -->
       <script>
        var d = new Date(new Date().getTime() + 95 * 120 * 120 * 2000);
           //jQuery Counter
        $('#simply-countdown-losange').simplyCountdown({
            year: d.getFullYear(),
            month: d.getMonth() + 1,
            day: d.getDate(),
            enableUtc: false
            //year: 2015, // required
           // month: 6, // required
            //day: 30, // required
            /* Options here */
        });
    </script>

		<!-- bootstrap jQuery -->
        <script src="{% static 'js/bootstrap.min.js' %}"></script>

		<!-- Theme jQuery -->
        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>
