{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<!-- Page Content -->
<div class="container">
    <div class="row">
        <!-- Blog Post Content Column -->
        <div class="col-lg-9 post-content">
            <!-- Blog Post -->
            <!-- Title -->
            <div class="post-header">
              <h1><span>{{post.title}}</span></h1>
            </div>
            <!-- Author -->
            <!-- Date/Time -->
            <p style="text-align: center;" ><span class="icon"></span> {{post.publish}}</p>
            <hr>
            <!-- Preview Image -->
            <img class="img-responsive" src="/static/media/{{post.featured_image}}" alt="">
            <!-- Post Content -->
            <div class="post-body">
              <p class="lead">{{post.body|safe}}</p>
            </div>
            <div class="blog-pager" id="blog-pager">
              <span id="blog-pager-older-link">
                <a class="blog-pager-older-link" href="" id="Blog1_blog-pager-older-link" title="Older Post"><h4><b>Next Story →</b></h4><h3></h3></a>
              </span>
            </div>
            <hr>
            <div class="entry-meta hidden-print">
              <div class="single-sharing-btns">
                  <h3 class="single-sharing-btns-title">Share This Story</h3>
                  <ul class="social-share-buttons style-default size-large" data-url="http://blogspot.com">
                    <li class="facebook" data-service="facebook" data-show="true" title="Share on Facebook">
                      <a class="fb-share-button" data-href="http://theamateuravant-garde.com/{{request.path}}" data-layout="button" data-size="small" data-mobile-iframe="false">
                        <a class="fb-xfbml-parse-ignore" target="_blank"
                          href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Ftheamateuravant-garde.com%2F&amp{{request.path}};src=sdkpreparse">
                        <i class="fa fa-facebook"></i>
                        <label class="hidden-xs">Share on Facebook</label>
                      </a>
                    </a>
                    </li>
                  <li class="twitter" data-service="twitter" data-show="true" title="Share on Twitter">
                    <a href="https://twitter.com/intent/tweet?url=http://theamateuravant-garde.com{{request.path}}&text=Check out our new post: {{post.title}}" target="_blank">
                      <i class="fa fa-twitter"></i>
                      <label class="hidden-xs">Share on Twitter</label>
                    </a>
                  </li>
                  <li class="pinterest" data-service="pinterest" data-show="true" title="Pin this Post">
                    <a href="https://pinterest.com/pin/create/button/?url=http://theamateuravant-garde.com/{{request.path}}&media={{post.image}}&description=Check out our new post: {{post.title}}" target="_blank">
                      <i class="fa fa-pinterest"></i>
                      <label class="hidden-xs">Pin this Post</label>
                    </a>
                  </li>
                  </ul>
                </div>
                <div class="entry-tags gray-2-secondary"><strong class="tag-heading"><i class="fa fa-tag"></i>Tags:</strong>
                <a href="" rel="tag">{{ post.tag.all|join:" / " }}</a>
              </div>

            <div  class="post-related">
              <div class="post-box">
                <h4 class="post-box-title">You Might Also Like</h4>
              </div>
              <div class="item-related"><a href="#"><img class="img-responsive" src="http://4.bp.blogspot.com/--TiUccko_b4/VQ51rAGp-TI/AAAAAAAAEe4/uoK5HMsqGh0/s300-c/3123004665_5cd4f1eafc_o-650x420.jpg" height="100" width="150"></a><h3><a href="">Amazing Video Quality Vimeo </a></h3></div>
            </div>
          <!-- Discus -->
          <div id="disqus_thread"></div>

          <script>
              /**
               *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
               *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
               */

              var disqus_config = function () {
                  this.page.url = "http://theamateuravant-garde.com";  // Replace PAGE_URL with your page's canonical URL variable
                  this.page.identifier = "theamateuravantgarde"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
              };

              (function() {  // DON'T EDIT BELOW THIS LINE
                  var d = document, s = d.createElement('script');

                  s.src = '//theamateuravantgarde.disqus.com/embed.js';

                  s.setAttribute('data-timestamp', +new Date());
                  (d.head || d.body).appendChild(s);
              })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
          <!-- extra desqus code for recent comments >
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h4>Recent Comments</h4>
            </div><br/>
            <div id="RecentComments" class="dsq-widget panel-body">
            <script type="text/javascript" src="http://djangozone.disqus.com/recent_comments_widget.js?num_items=5&hide_mods=0&hide_avatars=0&avatar_size=32&excerpt_length=100"></script>
            </div>
          </div>
          < end extra desqus code for recent comments -->
          </div>

        <!-- Blog Sidebar Widgets Column -->
        <div class="col-lg-3 custom-sidebar">
          {% include 'sidebar.html' %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
